export VIRTUAL_ENV=.venv
layout python-venv

export POSTGRES_USER=eventsourcing
export POSTGRES_PASSWORD=eventsourcing
export POSTGRES_DB=eventsourcing

export PGUSER=eventsourcing
export PGPASSWORD=eventsourcing
export PGDATABASE=eventsourcing
export PGHOST=localhost

